/* ===============Header================= */
#menuToggle{
  display: block;
  position: relative;
  margin-top: 5px;
  margin-left: 43px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle a{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}
#menuToggle a:hover{
  color: #FF6767;
}
#menuToggle input{
  display: block;
  width: 20px;
  height: 17px;
  margin: 0;
  position: absolute;
  /* top: -7px;
  left: -5px; */
  cursor: pointer;
  opacity: 0; 
  z-index: 2; 
  -webkit-touch-callout: none;
}
#menuToggle span{
  display: block;
  width: 18px;
  height: 2px;
  margin-bottom: 7.5px;
  position: relative; 
  background: #22282B;
  z-index: 1;
  transform-origin: 8px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle input:checked ~ span{
  opacity: 1;
  transform: rotate(46deg) translate(3px, 1.5px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(2){
  transform: rotate(-45deg) translate(3px, -3.5px);
}

#menu{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#menu li{
  padding: 10px 0;
  font-size: 22px;
}
#menuToggle input:checked ~ ul{
  transform: none;
}


.header {
  height: 79px;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  margin-left: 43px;
}

.logo {
  height: 18px;
  width: 92px;
  margin: 0 auto;
}

.contact-us-button {
  height: 35px;
  /* width: 95px; */
  margin-right: 45.5px;
  padding: 7px 11px;
  border: 0.8px solid #22282B;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #FFFFFF;
  font-family:Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #22282B;
}

.section {
  height: 90vh
}

.contact-us-button:hover, .read-more-button:hover{
  background-color: #FF6767;
} 

/* ==========common in Top/About/Mission========== */

.grid-two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  justify-content: center;
  align-content: center;
  justify-items: center;
}

/* =============Top page================ */

.home-title {
  width: 495px;
  height: 170px;
  left: 109px;
  top: 175px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 140%;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #22282B;
  margin: 0px 0px 60px
}

.home-description {
  width: 520px;
  height: 60px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  color: #404040;
  margin: 0px 0px 60px
}

.get-started-button{
  justify-content: center;
  align-items: center;
  padding: 7px 22px;
  width: 160px;
  height: 36px;
  background: #404040;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  border: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}

.get-started-button:hover{
  background: #FF6767;
  color: #22282B;
}

.home-image {
  width: 288px;
  height: 376px;
  left: 732px;
  top: 182px;
  filter: drop-shadow(0px 4px 11px rgba(0, 0, 0, 0.08));
  border-radius: 8px;
}

/* ====================About us======================== */

.about-image {
  width: 600px;
  height: 379px;
  border-radius: 8px;
}

.about-title{
  width: 287px;
  height: 60px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 140%;
  color: #22282B;
  margin: 0 0 60px;
}

.grid-three-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  justify-content: center;
  align-content: center;
}

.grid-three-columns h2{
  width: 80px;
  height: 33px;

  font-family: Avenir;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 110%;

  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;

  color: #404040;

  margin-top: 0px;
  margin-bottom: 7px;
}

.grid-three-columns p {
  /* width: 520px; */
  /* height: 151px; */
  left: 108px;
  top: 1313px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  /* display: flex;
  align-items: center; */
  color: #404040;
  margin-top: 0px;
  margin-bottom: 60px;
}

.about-description{
  width: 520px;
  height: 151px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  color: #404040;
  margin: 0px 0px 60px;
}

.read-more-button {
  padding: 7px 22px;
  width: 155px;
  height: 38px;
  background: #FFFFFF;
  border: 0.8px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #22282B;
}

/* ====================Mission==================== */

.mission-title{
  width: 287px;
  height: 60px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 140%;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #22282B;
  margin-top: 0px;
  margin-bottom: 60px;
}

.mission-description {
  width: 520px;
  height: 151px; 
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  color: #404040;
  margin-top: 0px;
  margin-bottom: 60px;
}

/* =================Subscribe================= */

#subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe-content{
  background-color: #FF6767;
  width: 930px;
  height: 475px;
  border-radius: 50%;
  margin:auto;
  text-align: center;
  box-shadow: 0px 10px 8px  rgba(0, 0, 0, 0.4);
}

.subscribe-title{
  font-family: Avenir;
  font-style: normal; 
  font-weight: 800;
  font-size: 45px;
  line-height: 102.1%;
  color: #FFFFFF;
  margin-top: 83px;
  margin-bottom: 8px;
}

.subscribe-content-text{
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  color: #FFFFFF;
}

.subscribe-content-text p {
  width: 344px;
  margin: 0px auto;
}

.i-am-a {
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 102.1%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.subscribe-form {
  display: grid;
  justify-items: center;
}

.subscribe-name-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 5px;
  justify-content: center; 
  align-items: center;
  margin-top: 12px;
}

.subscribe-gallery-name-wrapper{
  width: 335px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 5px;
  justify-content: center; 
  align-items: center;
  margin-top: 12px;
}

.subscribe-email{
  grid-column-start: 1;
  grid-column-end: span 2;
}

.subscribe-form input{
  min-width: 160px;
  height: 36px;
  padding: 0px;
  border: 1px solid #FFFFFF;
  background-color: #FF6767;
  border-radius: 5px;
}

.subscribe-form input::placeholder{
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #FFFFFF;
  text-align: center;
}

.subscribe-button{
  grid-column-start: 1;
  grid-column-end: span 2;
  height: 38px;
  font-size: 16px;
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  cursor: pointer;
}

.subscribe-button:hover{
  background-color: #22282B;
  border: 1px solid #22282B;
  color: #FFFFFF;
}

/* .unsubscribe-instructions{
  margin-top:30px;
} */

/* ===============Footer================ */

.footer{
  text-align: center;
  color:#FFFFFF;
  background-color: #22282B;
  height: 262px;
}

.footer-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.column-left {
  margin-left: 255px;
}

.column-right{
  margin-right: 255px;
}

.footer h2 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 110%;
  color: #FFFFFF;
  margin-top: 17px;
  margin-bottom: 15px;
}

.footer p{
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  margin: 0px;
}

.footer a{
  color: #22282B;
}

.link{
  width: 1139px;
  border-top: 1px solid #FFFFFF;
  margin: 42px auto 34px;
}

i.fab, i.far{
  width: 42.71px;
  height: 35px;
  display: inline-block;
  background-color: #FFFFFF;
  border-radius: 50%;
  padding-top: 10px;
  margin-top: 15px;
}

i.fab {
  margin-right: 33px;
}

.fab, .far{
  font-size: 22px;
}


